# Datasets
Datasets

#img
img

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# files in ipynb 

.ipynb_checkpoints

MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/source/config.rst
docs/gh-pages
notebook/i18n/*/LC_MESSAGES/*.mo
notebook/i18n/*/LC_MESSAGES/nbjs.json
notebook/static/components
notebook/static/style/*.min.css*
notebook/static/*/js/built/
notebook/static/*/built/
notebook/static/built/
notebook/static/*/js/main.min.js*
notebook/static/lab/*bundle.js
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.pytest_cache
src

*.swp
*.map
.idea/
Read the Docs
config.rst
*.iml
/.project
/.pydevproject

package-lock.json
geckodriver.log
*.iml

# jetbrains IDE stuff
*.iml
.idea/

# ms IDE stuff
*.code-workspace
.history
.vscode

# copied changelog
docs/source/changelog.md
M8_NLP/Week 1 - Traditional NLP/2. Semantic prediction/.vector_cache/wiki.simple.vec.pt
M8_NLP/Week 1 - Traditional NLP/2. Semantic prediction/.vector_cache/wiki.simple.vec
M8_NLP/Week 1 - Traditional NLP/2. Semantic prediction/df_amazon_3000.csv
M8_NLP/Week 1 - Traditional NLP/2. Semantic prediction/.data/AmazonReviewFull/amazon_review_full_csv/train.csv
M8_NLP/Week 1 - Traditional NLP/2. Semantic prediction/.data/AmazonReviewFull/amazon_review_full_csv/test.csv
M8_NLP/Week 1 - Traditional NLP/2. Semantic prediction/.data/AmazonReviewFull/amazon_review_full_csv.tar.gz
M8_NLP/Week 1 - Traditional NLP/2. Semantic prediction/Amazon_Reviews_Prediction.ipynb
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/attribute_ruler/patterns
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/config.cfg
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/lemmatizer/lookups/lookups.bin
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/meta.json
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/ner/cfg
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/ner/model
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/ner/moves
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/parser/cfg
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/parser/model
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/parser/moves
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/senter/cfg
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/senter/model
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/tagger/cfg
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/tagger/model
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/tok2vec/cfg
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/tok2vec/model
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/tokenizer
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/vocab/key2row
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/vocab/lookups.bin
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/vocab/strings.json
M8_NLP/Week 1 - Traditional NLP/4. NER/ner_models/vocab/vectors
