@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    max-width: 500px ;
    margin:0 auto;
    background-image: url('static/background.jpg');
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed ;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

img {
    max-height: 50px;
}

h1 {
    text-align:center;
}

li {
    margin-top: 30px;
}

a {
    color: red;
}

.skills {
    border-style: solid;
    font-size: 20px;
    font-weight: 800;
}
 
p {
    margin-top: 50px;
}

.element_to_hide {
    display: hidden;
}

h4 {
    visibility: hidden;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: aqua;
}